<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.athtech.athtech.course">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".OurApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AthTechCourse">
        <activity
            android:name=".storage.StorageActivity"
            android:label="@string/title_activity_storage"
            android:theme="@style/Theme.AthTechCourse.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/Theme.AthTechCourse.NoActionBar" />
        <activity android:name=".DemoFragmentActivity" />
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">

        </activity>
    </application>

</manifest>